<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../stylesheets/style.css">
    <meta charset="UTF-8">
</head>
<body>
<div class = "box">
    <p>developer : 2020204022 ํ์๋ฎ</p>
    <div class = "inner-box">
        <h1>์น์๋น์ค์ค๊ณ๋ฐ์ค์ต HW1</h1>
    </div>


    <br>
    <% if (username) { %>
        <h2 id="welcomeMessage">ํ์ํฉ๋๋ค๐๏ธ </h2>
        <h2 id="welcomeMessage"> <%= username %>๋โฅ</h2>
    <% } %>

</div>
</body>
</html>
